In [146]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from datetime import datetime
from itertools import combinations

In [147]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
389,tt0955308,200000000,310669540,Robin Hood,Russell Crowe|Cate Blanchett|Mark Strong|Oscar...,Ridley Scott,"Rise and rise again, until lambs become lions.",When soldier Robin happens upon the dying Robe...,140,Action,Imagine Entertainment|Universal Pictures|Scott...,5/12/2010,6.1,2010
1077,tt1480656,20500000,6063556,Cosmopolis,Robert Pattinson|Sarah Gadon|Juliette Binoche|...,David Cronenberg,How far can he go before he goes too far?,Riding across Manhattan in a stretch limo in o...,109,Drama,France 2 CinÃ©ma|TÃ©lÃ©film Canada|Rai Cinema|...,5/25/2012,4.8,2012
866,tt0258463,60000000,214034224,The Bourne Identity,Matt Damon|Franka Potente|Chris Cooper|Clive O...,Doug Liman,He was the perfect weapon until he became the ...,Wounded to the brink of death and suffering fr...,119,Action|Drama|Mystery|Thriller,"Universal Pictures|Kennedy/Marshall Company, T...",6/14/2002,7.1,2002
647,tt0910936,27000000,101624843,Pineapple Express,Seth Rogen|James Franco|Danny McBride|Gary Col...,David Gordon Green,Put this in your pipe and smoke it.,A stoner and his dealer are forced to go on th...,111,Action|Comedy,Columbia Pictures|Apatow Productions,8/6/2008,6.6,2008
573,tt0200027,48000000,35743308,Riding in Cars with Boys,Drew Barrymore|Steve Zahn|Adam Garcia|Brittany...,Penny Marshall,One day can make your life; one day can ruin y...,"A single mother, with dreams of becoming a wri...",132,Comedy|Drama|Romance,Columbia Pictures,10/19/2001,6.4,2001

In [148]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [149]:
answers = {} #создадим словарь для ответов
#Тут другие предобработки:
#The time given in the dataset is in string format.
#So we need to change this in datetime format:
data.release_date = data.release_date.str.replace('/','')
data['release_date'] = pd.to_datetime(data['release_date'], format = '%m%d%Y')
#change yyyy-mm-dd type to dd-Month-yyyy type
date_list = []
for i in data.release_date:
    i = i.strftime("%d-%B-%Y")
    date_list.append(i)
new_date_form = pd.DataFrame(pd.Series(date_list, name = 'release_date'))
data['release_date'] = new_date_form

#introduce a function for profit (profit = revenue - budget)
def profit(x):
    prof = x['revenue'] - x['budget']
    return prof

#bring the values in the columns into a more convenient form
data.director = data.director.str.replace('|',', ')
data.cast = data.cast.str.replace('|',', ')
data.genres = data.genres.str.replace('|',', ')
data.production_companies = data.production_companies.str.replace('|',', ')

#genres counter function:
def genres_count(x):
    for i in x.split(', '):
        if i in genres_dict:
            genres_dict[i] +=1
        else:
            genres_dict[i] = 1
    return genres_dict

#function to count most common value
def most_frequent_1(List):
    return max(set(List), key = List.count)

#function to count most common value
def most_frequent_2(List):
    counter = 0
    num = List[0]
    for i in List:
        curr_frequency = List.count(i)
        if(curr_frequency> counter):
            counter = curr_frequency
            num = i
    return num

In [150]:
data.sample(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1256,tt1517260,44000000,63327201,The Host,"Saoirse Ronan, Diane Kruger, Jake Abel, Willia...",Andrew Niccol,You will be one of us,A parasitic alien soul is injected into the bo...,125,"Action, Adventure, Romance, Science Fiction, T...","Nick Wechsler Productions, Open Road Films, Si...",22-March-2013,6.0,2013

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [151]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+

In [152]:
#тут пишем ваш код для решения данного вопроса:
#we can either solve it by groupby or by retrieving data on conditions
display(data.groupby(['original_title'])['budget'].max().sort_values(ascending=False).head(1))

original_title
Pirates of the Caribbean: On Stranger Tides    380000000
Name: budget, dtype: int64

ВАРИАНТ 2

In [153]:
#можно добавлять разные варианты решения
display(data[data.budget == data.budget.max()]['original_title'])

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [154]:
answers['2'] = '2. Gods and Generals (tt0279111)' #+
#we can either solve it by groupby or by retrieving data on conditions
display(data.groupby(['original_title'])['runtime'].max().sort_values(ascending=False).head(1))

original_title
Gods and Generals    214
Name: runtime, dtype: int64

In [155]:
#other solution
display(data[data.runtime == data.runtime.max()]['original_title'])

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [156]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' #+
display(data[data.runtime == data.runtime.min()]['original_title'])

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [157]:
answers['4'] = '2. 110' #+
display(round(data['runtime'].mean())) #round up to whole number

110

# 5. Каково медианное значение длительности фильмов?

In [158]:
answers['5'] = '1. 107' #+
display(round(data['runtime'].median())) #round up to whole number

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [159]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)' #+
#use profit function
display(profit(data).sort_values(ascending=False).head(1))
display(data.iloc[239])

239    2544505847
dtype: int64

imdb_id                                                         tt0499549
budget                                                          237000000
revenue                                                        2781505847
original_title                                                     Avatar
cast                    Sam Worthington, Zoe Saldana, Sigourney Weaver...
director                                                    James Cameron
tagline                                       Enter the World of Pandora.
overview                In the 22nd century, a paraplegic Marine is di...
runtime                                                               162
genres                        Action, Adventure, Fantasy, Science Fiction
production_companies    Ingenious Film Partners, Twentieth Century Fox...
release_date                                             10-December-2009
vote_average                                                          7.1
release_year                                                         2009
Name: 239, dtype: object

# 7. Какой фильм самый убыточный?

In [160]:
answers['7'] = '5. The Lone Ranger (tt1210819)' #+
#use profit function
display(profit(data).sort_values().head(1))
display(data.iloc[1245])

1245   -165710090
dtype: int64

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp, Armie Hammer, William Fichtner, H...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                         Action, Adventure, Western
production_companies    Walt Disney Pictures, Jerry Bruckheimer Films,...
release_date                                                 03-July-2013
vote_average                                                            6
release_year                                                         2013
Name: 1245, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [161]:
answers['8'] = '1. 1478' #+
display(data[data.revenue > data.budget].info()) #1478 entries means that 1478 movies paid off

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1478 entries, 0 to 1884
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1478 non-null   object
 1   budget                1478 non-null   int64
 2   revenue               1478 non-null   int64
 3   original_title        1478 non-null   object
 4   cast                  1478 non-null   object
 5   director              1478 non-null   object
 6   tagline               1478 non-null   object
 7   overview              1478 non-null   object
 8   runtime               1478 non-null   int64
 9   genres                1478 non-null   object
 10  production_companies  1478 non-null   object
 11  release_date          1478 non-null   object
 12  vote_average          1478 non-null   float64
 13  release_year          1478 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 173.2+ KB

None

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [162]:
answers['9'] = '4. The Dark Knight (tt0468569)' #+
data_2008 = data[data.release_year == 2008] #reduce the search to 2008
display(data_2008.revenue.sort_values(ascending=False).head(1))
display(data_2008.loc[599])

599    1001921825
Name: revenue, dtype: int64

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale, Michael Caine, Heath Ledger, A...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                     Drama, Action, Crime, Thriller
production_companies    DC Comics, Legendary Pictures, Warner Bros., S...
release_date                                                 16-July-2008
vote_average                                                          8.1
release_year                                                         2008
Name: 599, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [163]:
answers['10'] = '5. The Lone Ranger (tt1210819)' #+
#reduce the search to 2012-2014:
data_years = data[(2012 <= data.release_year) & (data.release_year <= 2014)]
display(profit(data_years).sort_values().head(1))
display(data_years.loc[1245])

1245   -165710090
dtype: int64

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp, Armie Hammer, William Fichtner, H...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                         Action, Adventure, Western
production_companies    Walt Disney Pictures, Jerry Bruckheimer Films,...
release_date                                                 03-July-2013
vote_average                                                            6
release_year                                                         2013
Name: 1245, dtype: object

# 11. Какого жанра фильмов больше всего?

In [164]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama' #+

genres_dict = {}
#calling function to fill genres_dict
data.genres.apply(genres_count)
#converting from dictionary to Series to make more convenient view
genres_series = pd.Series(genres_dict).sort_values(ascending=False)
display(genres_series)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [165]:
#other solution
collections.Counter(data['genres'].str.cat(sep = ', ').split(', ')).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [166]:
answers['12'] = '1. Drama' #+
data_prof = data[data.revenue > data.budget] #create dataframe for our conditions
#count genres for our condition
collections.Counter(data_prof['genres'].str.cat(sep = ', ').split(', ')).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [167]:
answers['13'] = '5. Peter Jackson' #+
data_dir = data.copy() #create a copy of the original table to make changes to it
#split all the values in the directors column so that each value becomes a list of directors:
data_dir['director'] = data_dir['director'].apply(lambda x: x.split(", "))
#duplicate the dataframe for each specific director:
data_dir = data_dir.explode('director')
display(data_dir.groupby('director')['revenue'].sum().sort_values(ascending=False).head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [168]:
#I won't repeat the descriptions for the tasks with already explained solutions
answers['14'] = '3. Robert Rodriguez' #+
act_data = data[data.genres.str.contains('Action', na = False)]
collections.Counter(act_data['director'].str.cat(sep = ', ').split(', ')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [169]:
answers['15'] = '3. Chris Hemsworth' #+
data_2012 = data[data.release_year == 2012]
data_2012.cast = data_2012.cast.apply(lambda x: x.split(", "))
data_2012 = data_2012.explode('cast')
display(data_2012.groupby('cast')['revenue'].sum().sort_values(ascending=False).head(1))

C:\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [170]:
answers['16'] = '3. Matt Damon' #+
data_hi_bud = data[data.budget > data.budget.mean()]
collections.Counter(data_hi_bud['cast'].str.cat(sep = ', ').split(', ')).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [171]:
answers['17'] = '2. Action' #+
#here we use str.contains to leave the valueы containing "Nicolas Cage" in cast:
data_nic = data[data.cast.str.contains('Nicolas Cage')]
collections.Counter(data_nic['genres'].str.cat(sep = ', ').split(', ')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [172]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' #+
display(profit(data[data.production_companies.str.contains("Paramount Pictures")]).sort_values())
display(data.loc[925])

925     -64831034
1123    -60519261
1722    -51788987
1623    -46604061
1631    -24805000
          ...
730     549713380
1738    559709780
603     601636033
317     686297228
828     928746996
Length: 122, dtype: int64

imdb_id                                                         tt0267626
budget                                                          100000000
revenue                                                          35168966
original_title                                       K-19: The Widowmaker
cast                    Harrison Ford, Liam Neeson, Peter Sarsgaard, J...
director                                                  Kathryn Bigelow
tagline                                          Fate has found its hero.
overview                When Russia's first nuclear submarine malfunct...
runtime                                                               138
genres                                           Thriller, Drama, History
production_companies    Paramount Pictures, Intermedia Films, National...
release_date                                                 19-July-2002
vote_average                                                            6
release_year                                                         2002
Name: 925, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [173]:
answers['19'] = '5. 2015' #+
display(data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False))

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [174]:
answers['20'] = '1. 2014' #+
#add column 'profit' to data
prof = pd.DataFrame(profit(data))
prof.columns = ['profit']
data['profit'] = prof
data_warn = data[data.production_companies.str.contains("Warner Bros")]
display(data_warn.groupby(['release_year'])['profit'].sum().sort_values(ascending=False))

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [175]:
answers['21'] = '4. Сентябрь' #+
mon_list = []
for i in data.release_date:
    i = i.split('-')
    for n in i:
        mon_list.append(n)

display(most_frequent(mon_list))

'September'

In [176]:
collections.Counter(data['release_date'].str.cat(sep = '-').split('-')).most_common(1)

[('September', 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [177]:
answers['22'] = '2. 450' #+
data_jun = data[data.release_date.str.contains("June")]
data_jul = data[data.release_date.str.contains("July")]
data_aug = data[data.release_date.str.contains("August")]
display(len(data_jun)+len(data_jul)+len(data_aug))

450

In [178]:
release_list = data['release_date'].str.cat(sep = '-').split('-')
count = 0
for i in release_list:
    if "August" in i or "June" in i or "July" in i:
        count += 1
print(count)

450

In [179]:
data_summer = data[data.release_date.str.contains("June|July|August")]
len(data_summer)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [180]:
answers['23'] = '5. Peter Jackson' #+
data_winter = data[data.release_date.str.contains("December|January|February")]
collections.Counter(data_winter['director'].str.cat(sep = ', ').split(', ')).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [181]:
answers['24'] = '5. Four By Two Productions' #+
data_stud = data.copy()
#create new column contains title letter length
title_list = []
for i in data_stud.original_title:
    i = len(i)
    title_list.append(i)
title_len = pd.Series(title_list)
data_stud['title_length'] = title_len
data_stud['production_companies'] = data_stud['production_companies'].apply(lambda x: x.split(", "))
data_stud = data_stud.explode('production_companies')

display(data_stud.groupby(['production_companies']) \
        ['title_length'].mean().sort_values(ascending=False))

production_companies
Four By Two Productions       83.0
Jim Henson Company            59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_length, Length: 1773, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [182]:
answers['25'] = '3. Midnight Picture Show' #+
data_stud = data.copy()
#create new column contains overview words length,
#also split values in overview columnt to count words
data_stud['overview'] = data_stud['overview'].apply(lambda x: x.split(" "))
ovw_list = []
for i in data_stud.overview:
    i = len(i)
    ovw_list.append(i)
ov_wlen = pd.Series(ovw_list)
data_stud['overview_wlen'] = ov_wlen
data_stud['production_companies'] = data_stud['production_companies'].apply(lambda x: x.split(", "))
data_stud = data_stud.explode('production_companies')
display(data_stud.groupby(['production_companies']) \
        ['overview_wlen'].mean().sort_values(ascending=False))

production_companies
Midnight Picture Show                    175.0
Heineken Branded Entertainment           161.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
Our Stories Films                         13.0
Projection Pictures                       13.0
Henceforth                                13.0
Motion Picture Corporation of America     11.0
Empire Pictures                           11.0
Name: overview_wlen, Length: 1773, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [183]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' #+
#1% of all films in DataFrame is first 19 films(1889/100)
display(data.groupby(['original_title'])['vote_average'].max().sort_values(ascending=False).head(19))

original_title
The Dark Knight                                      8.1
The Imitation Game                                   8.0
Inside Out                                           8.0
Interstellar                                         8.0
Room                                                 8.0
The Grand Budapest Hotel                             7.9
The Pianist                                          7.9
Guardians of the Galaxy                              7.9
Memento                                              7.9
The Wolf of Wall Street                              7.9
Inception                                            7.9
Gone Girl                                            7.9
12 Years a Slave                                     7.9
The Lord of the Rings: The Return of the King        7.9
Prisoners                                            7.8
The Fault in Our Stars                               7.8
Eternal Sunshine of the Spotless Mind                7.8
The Prestige                                         7.8
The Lord of the Rings: The Fellowship of the Ring    7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [184]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' #+
new_list = []
#create list of actors combinations and count most common one's
for i in data.cast:
    i = i.split(', ')
    for n in list(combinations(i,2)):
        new_list.append(n)
def most_frequent_2(List):
    counter = 0
    num = List[0]
    for i in List:
        curr_frequency = List.count(i)
        if(curr_frequency> counter):
            counter = curr_frequency
            num = i
    return num
most_frequent(new_list)

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [185]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [186]:
# и убедиться что ни чего не пропустил)
len(answers)

27